<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194757760753-uftd1e2ggmullbe4i05vf0hr0p25hivt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194757760753-uftd1e2ggmullbe4i05vf0hr0p25hivt</string>
	<key>API_KEY</key>
	<string>AIzaSyASdh8vxyjd0eXt43_YLwuaNQFir0FujNc</string>
	<key>GCM_SENDER_ID</key>
	<string>194757760753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-96059</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-96059.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194757760753:ios:9d57f26f2a57a339537b50</string>
</dict>
</plist>